* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* HERO */
.hero {
    height: 100vh;
    background-image: url('./Assets/images/menu.jpg');
    background-size:  cover;
    background-position:  center;
    background-repeat: no-repeat;  
    position: relative;
    
    color: gray;
    overflow:hidden;
 
}

/* OVERLAY */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
}

/* TOP BAR */
.top-bar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}


/* NAVBAR */
.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-family: 'Playfair Display', serif;
}

/* MENU CENTER */
.menu {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

/* LINKS */
.menu li {
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: black;
  min-width: 180px;
  list-style: none;
  
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.1s;
}

/* DROPDOWN LINKS */
.dropdown-menu li a {
  color: white;
  padding: 12px 15px;
  display: block;
  font-family: Jost, sans-serif;
  font-size: 12px;
  font-weight: 200;
}

/* HOVER SHOW */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/* BUTTON */
.btn-outline {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.btn-outline:hover{
  background-color: aliceblue;
  color:black;
}

/* ================================== */
@media (max-width: 768px) {

  .menu {
    display: none;
  }

}





/* HERO CONTENT */
.hero-content {
  position: relative;
  text-align: center;
  width: 90%;
  margin: auto;
}


hero-content h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 88px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* BLOG SECTION */
.blog {
  text-align: center;
  padding: 80px 20px;
}

.blog-title {
  font-size: 32px;
  margin-bottom: 40px;
}

/* GRID */
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
  max-width: 900px;
  margin: auto;
}

/* CARD */
.blog-card {
  text-align: left;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* TEXT */
.blog-card .date {
  font-size: 11px;
  color: #999;
  margin: 10px 0;
}

.blog-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.blog-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* READ MORE */
.blog-card a {
  font-size: 12px;
  color: #c59d5f;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}


/* FOOTER SECTION */
.footer {
  background: #05070d;
  color: #fff;
  padding: 90px 8% 40px;
}

/* GRID */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

/* LOGO */
.footer-logo {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin-bottom: 20px;
}

/* TEXT */
.footer-col p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.7;
  margin-bottom: 12px;
}

/* HEADINGS */
.footer-col h4 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

/* WORKING HOURS ALIGN */
.hours span {
  float: right;
  color: #fff;
}

/* HAPPY */
.happy {
  margin-top: 10px;
}

/* SOCIALS */
.socials {
  margin-top: 20px;
}

.socials i {
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.socials i:hover {
  color: #e65c00;
}

/* NEWSLETTER */
.newsletter {
  display: flex;
  border-bottom: 1px solid #444;
  margin: 15px 0;
}

.newsletter input {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff;
  padding: 10px 0;
  outline: none;
}

.newsletter button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* CHECKBOX */
.checkbox {
  font-size: 13px;
  color: #aaa;
}

.checkbox input {
  margin-right: 8px;
}

/* ================= BOTTOM ================= */
.footer-bottom {
  margin-top: 60px;
  padding-top: 25px;
  border-top: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
}

/* LINKS */
.footer-links a {
  margin-left: 25px;
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

/* =============================== */
@media (max-width: 768px) {

  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .hours span {
    float: none;
    display: block;
    margin-top: 5px;
  }

}
